<?xml version="1.0"?>

<model>
  <name>BigTreeModel</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Fereshta Yazdani</name>
    <email>fereshta [dot] yaz [at] gmail.com</email>
  </author>

  <description>
   A model of a bigger tree.
  </description>
</model>
