<launch>
  <param name="mountain_description"
	 command="$(find xacro)/xacro.py '$(find env_mission)/urdf-xml/mountain_map/mountain_map.urdf.xml'"/>
  
  <!--param name="initial_package" type="string" value="knowrob_map_data" /-->
  <param name="initial_package" type="string" value="knowrob_sherpa" />
  <param name="initial_goal" type="string" value="owl_parse('package://env_mission/owl/mountain_map01.owl')" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
  
 <node pkg="tf" 
	type="static_transform_publisher" 
	name="world_to_map_frame_publisher" 
	args="0 0 0 0 0 0 1 /world /map 200">
  </node>
  
  <node pkg="tf" 
	type="static_transform_publisher" 
	name="map_to_maplink_frame_publisher" 
	args="0 0 0 0 0 0 1 /map /map_link 200">
  </node>

  <node pkg="tf" 
	type="static_transform_publisher" 
	name="map_to_human_publisher" 
	args="10 0 0 0 0 -10 1 /map /human 200">
  </node>

  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
	name="mountain_state_publisher" output="screen">
    <param name="tf_prefix" value="/"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="mountain_description" />
  </node>

<node pkg="start_mission" type="start_checking_relation" name="start_checking_relation" respawn="false" />

<node pkg="start_mission" type="start_salient_objs" name="start_salient_objs" respawn="false" />

<node pkg="start_mission" type="start_getting_object_size" name="start_getting_object_size" respawn="false" />

<node pkg="start_mission" type="start_getting_reasoning_on_pose" name="start_getting_reasoning_on_pose" respawn="false" />

</launch>
