<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">   
    <arg name="world_name" value="$(find env_mission)/worlds/mountain_map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find env_mission)/launch/spawn_quadrotor_with_asus.launch" />
  <include file="$(find env_mission)/launch/json_map.launch" />
<node pkg="quadrotor_controller" type="cmd_executer" name="cmd_executer" respawn="false" />
<node pkg="quadrotor_controller" type="scan_region" name="scan_region" respawn="false" />
</launch>
