<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">   
    <arg name="world_name" value="$(find env_mission)/worlds/mountain_map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!--include file="$(find env_mission)/launch/json_map.launch" /-->
  <param name="mountain_description"
	 command="$(find xacro)/xacro.py '$(find env_mission)/urdf-xml/mountain_map/mountain_map.urdf.xml'"/>
  
  <param name="initial_package" type="string" value="knowrob_sherpa" />
  <param name="initial_goal" type="string" value="owl_parse('package://env_mission/owl/mountain_map02.owl')" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
  
 <node pkg="tf" 
	type="static_transform_publisher" 
	name="world_to_map_frame_publisher" 
	args="0 0 0 0 0 0 1 world map 200">
  </node>
  
  <node pkg="tf" 
	type="static_transform_publisher" 
	name="map_to_maplink_frame_publisher" 
	args="0 0 0 0 0 0 1 map map_link 200">
  </node>

  <node pkg="tf" 
	type="static_transform_publisher" 
	name="map_to_human_publisher" 
	args="10 -7 0 0 0 2 1 map human 200">
  </node>

  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
	name="mountain_state_publisher" output="screen">

    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="mountain_description" />
  </node>
  <include file="$(find quadrotor_controller)/launch/quadrotor_unreal_simulation.launch" />
 <include file="$(find img_mission)/launch/image_instruction.launch" />
</launch>
